################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Week1Ass1/x64/Release/Week1Ass1.tlog
/.vs/cv-assignment/v15
/Week1Ass1/x64/Release
/x64/Release
/Week1Ass1/Week1Ass1.vcxproj
/Week1Ass1/Week1Ass1.vcxproj.filters
/Week1Ass1/Week1Ass1.vcxproj.user
/Week1Ass1/image.jpg
/Week1Ass2/Week1Ass2.vcxproj.user
/Week1Ass2/Week1Ass2.vcxproj.filters
/Week1Ass2/Week1Ass2.vcxproj
/Week1Ass2/x64/Release
/Week1Ass2/image.jpg
/Week1Ass3/x64/Release
/Week1Ass3/Week1Ass3.vcxproj.user
/Week1Ass3/Week1Ass3.vcxproj.filters
/Week1Ass3/Week1Ass3.vcxproj
/Week1Ass3/image.jpg
/Week1Ass4/x64/Release
/Week1Ass4/Week1Ass4.vcxproj.user
/Week1Ass4/Week1Ass4.vcxproj.filters
/Week1Ass4/Week1Ass4.vcxproj
/Week1Ass4/image.jpg
/cv-assignment.sln
/Week2Ass1/x64/Release
/Week2Ass1/Week2Ass1.vcxproj.user
/Week2Ass1/Week2Ass1.vcxproj.filters
/Week2Ass1/Week2Ass1.vcxproj
/Week2Ass1/image.jpg
/Week2Ass2/x64/Release
/Week2Ass2/Week2Ass2.vcxproj.user
/Week2Ass2/Week2Ass2.vcxproj.filters
/Week2Ass2/Week2Ass2.vcxproj
/Week2Ass1/图片1.png
/Week2Ass3/x64/Release
/Week2Ass4/x64/Release
/Week2Ass5/x64/Release
/Week2Ass3/Week2Ass3.vcxproj.user
/Week2Ass3/Week2Ass3.vcxproj.filters
/Week2Ass3/Week2Ass3.vcxproj
/Week2Ass3/image.jpg
/Week2Ass5/Week2Ass5.vcxproj.user
/Week2Ass5/Week2Ass5.vcxproj.filters
/Week2Ass5/Week2Ass5.vcxproj
/Week2Ass5/image.jpeg
/Week2Ass4/Week2Ass4.vcxproj.user
/Week2Ass4/Week2Ass4.vcxproj.filters
/Week2Ass4/Week2Ass4.vcxproj
/Week2Ass4/image.jpg
/Week2Ass5/image.jpg
/Week3Ass1/x64/Release
/Week3Ass1/Week3Ass1.vcxproj.user
/Week3Ass1/Week3Ass1.vcxproj.filters
/Week3Ass1/Week3Ass1.vcxproj
/Week3Ass2/Week3Ass2.vcxproj.user
/Week3Ass2/Week3Ass2.vcxproj.filters
/Week3Ass2/Week3Ass2.vcxproj
/Week3Ass2/x64/Release
/Week3Ass2/image.jpg
/Week2Ass1/1.jpg
/Week3Ass3/x64/Release
/Week3Ass4/x64/Release
/Week3Ass3/Week3Ass3.vcxproj.user
/Week3Ass3/Week3Ass3.vcxproj.filters
/Week3Ass3/Week3Ass3.vcxproj
/Week3Ass4/Week3Ass4.vcxproj.user
/Week3Ass4/Week3Ass4.vcxproj.filters
/Week3Ass4/Week3Ass4.vcxproj
/Week3Ass3/image.jpg
